.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainClassName {
    color: #ec9b59;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headText {
    color: #ec9b59;
}

.addClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #D0E6CF;
}

.newClass {
    padding: 3px;
    margin: 5px;
    min-width: 250px;
}

.createClassBtn {
    padding: 3px;
    margin: 5px;
    background-color: #236566;
    color: #ffffff;
    border-color: #236566;
    border-radius: 5px;
}

.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.classesPiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    width: 750px;
    height: 40px;
    cursor: pointer;
    transition: background 1s ease;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
}


.classesPiece:hover {
    background-color: #D0E6CF;
}

.className {
    color: #01212c;
    margin: 0;
}

.goToClassBtn {
    background-color: transparent;
    border: none;
    color: #01212c;
    cursor: pointer;
    outline: none;
    margin: 0 25px 10px;
    font-family: 'Poiret One', sans-serif;
    font-size: 24px;
}

.deleteClassBtn {
    margin: 2px;
    color: #01212c;
    background-color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.deleteClassBtn:hover {
    background-color: #ec9b59;
}

.goToClassBtn:active {
    transform: scale(0.95);
}

.mainName {
    font-weight: bold;
    color: #01212c;
    padding: 0 10px 10px;
    border-bottom: 2px solid #D0E6CF;
    width: fit-content;
    cursor: pointer;
}

.newLesson {
    font-family: 'Poiret One', sans-serif;
    font-size: 22px;
    color: #ec9b59;
    font-weight: bold;
    margin: 35px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: background 1s ease;
}

.newLesson:hover {
    background-color: #f4d8cd99;
}

.copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #D0E6CF;
    margin-top: 35px;
}

.inCopy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    padding: 0 10px;
}

.student {

}

.student ul {

}

.student li {
    width: 500px;
    border: none;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 0 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 33%;
}

.error {
    font-size: 16px;
    margin-top: 0;
    margin-left: 25px;
}