.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 400px;
}

.lessonsBtn {
    margin: 7px;
}

.lessonProgress {

}

.lessonInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: #9fb09e;
    border: 1px solid #174344;
    border-radius: 3px;
    box-shadow: 3px 3px 1px 0 #174344;
    margin: 10px;
    padding: 0 5px 0 5px;
}

.lessonName {
    font-size: medium;

}

.solvedTasksAmount {
    font-size: medium;
}

.tasksInfo {

}

.taskProgress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-left: 20px;
    padding: 0 5px 0 5px;
    background-color: #f4d8cd;
    border: 1px solid #ec9b59;
    border-radius: 3px;
    box-shadow: 3px 3px 1px 0 #ec9b59;
}