.lessonName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainClassName {
    color: #ec9b59;
    cursor: pointer;
}

.mainName {
    font-weight: bold;
    color: #01212c;
    padding: 0 10px 10px;
    border-bottom: 2px solid #D0E6CF;
    width: fit-content;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    width: 30%;
    height: 100px;
    margin-bottom: 10px;
}

.file-input {
    margin-bottom: 10px;
    font-family: 'Poiret One', sans-serif;
}

.button {
    padding: 10px 20px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
    font-size: 16px;
}

.send {
    font-weight: bold;
}

.taskName {
    text-align: left;
    font-size: 24px;
}

.attemptsTable {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.tableHeaders {
    font-size: 24px;
}

.attemptsTable th, .attemptsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.attemptsTable th {
    background-color: #f2f2f2;
}

/*.attemptsTable tbody tr:nth-child(even) {*/
/*    background-color: #f9f9f9;*/
/*}*/

.solved {
    font-weight: bold;
    color: darkseagreen;
}

.wa {
    font-weight: bold;
    color: darkred;
}
